@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans';
}

p, h2 {
    font-size: 16px;
}

.title {
    display: flex;
}

h1 {
    margin-left: 10px;
    font-size: 50px;
}

.container {    
    background-image: url("../assets/images/background-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-color: rgb(230, 195, 230);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: rgb(235, 235, 235);
    height: fit-content;
    width: 33%;
    padding: 20px;
    border-radius: 1%;
    transition: height 5s;
}

#faq1, #faq2, #faq3, #faq4 {
    padding: 10px;
}

h2:hover {
    color: purple;
    transition: linear 1s;
    cursor: pointer;
}

.question {
    display: flex;
    justify-content: space-between;
}

button {
    border: none;
    outline: none;
    overflow: hidden;
    border-radius: 50%;
}

button:hover {
    cursor: pointer;
}